[Unit]
Description=Propeller Teststand Web Server
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/testStand
ExecStart=/bin/bash /home/pi/testStand/start.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
